@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Alkatra&family=Chakra+Petch:wght@700&family=Cinzel:wght@600&family=DynaPuff:wght@500&family=EB+Garamond:wght@500&family=Fira+Sans:ital,wght@0,200;0,300;1,200&family=Genos:wght@800&family=Hind+Siliguri&family=Jost:wght@200&family=Lumanosimo&family=Noto+Sans+KR:wght@800&family=Noto+Serif:wght@700&family=Nunito&family=Nunito+Sans:opsz,wght@6..12,600&family=Open+Sans:wght@300;400;600&family=Philosopher:wght@700&family=Playfair+Display:wght@500&family=Plus+Jakarta+Sans:wght@500&family=Poppins:wght@700&family=Roboto+Slab:wght@300&family=Roboto:wght@100;300&family=Shantell+Sans:ital,wght@1,300&family=Stick+No+Bills:wght@700&family=Tektur:wght@600&family=Ubuntu:wght@700&family=Victor+Mono&display=swap");

:root {
  --font-family: "Noto Sans KR";
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: var(--font-family);

}

body {
  background-color: rgb(37,37,37);
}

nav{
  background-color: #000;
  padding: 32px 0px 32px 51px
}

nav img{
  filter: invert(1);
  height: 40px;
}

.login-section{
  padding: 32px;
  display: flex;
  justify-content: center;
}

.login-container{
  max-width: 734px;
  width: 100%;
  background-color: #000;
  border-radius: 10px;
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1{
  font-size: 2.5rem;
  padding: 40px 0;
}

.container {
  text-align: center;
  margin-bottom: 10px;
}

.btn-google {
  background-color: transparent;
  border: 1px solid #a7a5a5;
  width: 330px;
  border-radius: 20px;
  padding: 10px 10px 10px 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: .9rem;
}

.btn-google:hover {
  border:1px solid #fff;
}

.google-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}


.line{
  width: 600px;
  margin: 40px 0;

}

.login-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form input{
    display: block;
    font-size: .9rem;
    font-weight: 400;
    transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
    width: 324px;
    height: 48px;
    border-radius: 4px;
    padding-inline: 14px;
    padding-block-start: 8px;
    padding-block-end: 8px;
    border: 1px solid #878787;

    background-color: transparent;
    box-shadow: inset 0 0 0 1px #878787;
    color:  #000000;
}

.login-button{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn{
  width: 100%;
  margin: 25px 0;
  background-color: #1FDF64;
  color: #000;
  display: flex;
  border-radius: 500px;
  border: none;
  font-size: inherit;
  min-block-size: 48px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-block: 8px;
  padding-inline: 32px;
}


footer{
  text-align: center;
  background-color: #121212;
  padding: 32px;
}

footer p{
  color: rgb(133, 133, 133);
  font-size: 0.6875rem;


}



